name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Standard Ruby
        run: bundle exec standardrb
      - name: Haml-lint
        run: |
          bundle exec haml-lint
      - name: Prepare database
        run: |
          RAILS_ENV=test bundle exec rails db:setup
      - name: RSpec
        run: |
          RAILS_ENV=test bundle exec rails spec
      - name: Cucumber
        run: |
          RAILS_ENV=test bundle exec cucumber
